ENV=development
# ─────────────────── Dockercompose ───────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kuronami

REDIS_PASSWORD=redis



# ─────────────────── PostgreSQL ───────────────────
PG_HOST=postgres
PG_PORT=5432
PG_DATABASE=kuronami
PG_USER=postgres
PG_PASSWORD=postgres
POSTGRES_DSN=postgresql://postgres:postgres@postgres:5432/kuronami
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/kuronami
USER_POSTGRES_DSN=postgresql://postgres:postgres@postgres:5432/kuronami

# ─────────────────── Redis ───────────────────
USER_REDIS_ENDPOINT=redis:6379
REDIS_ENDPOINT=redis:6379
USER_REDIS_PASS=redis

# ─────────────────── JWT / Auth ───────────────────
JWT_SECRET=jwt-secret
ACCESS_TTL=10m
REFRESH_TTL=7h
REMEMBER_TTL=96h
SESSION_TTL=24h

# ─────────────────── Service endpoints (внутри docker-compose) ───────────────────
ANIME_SERVICE_ENDPOINT=http://anime:8001
NEWS_SERVICE_ENDPOINT=http://anime:8001
AUTH_SERVICE_ENDPOINT=http://auth:8002
USER_SERVICE_ENDPOINT=http://auth:8002
COMMENTS_SERVICE_ENDPOINT=http://auth:8002
RECOMMENDS_SERVICE_ENDPOINT=http://recommendation:8003
SERVER_ENDPOINT=:8002

AUTH_HOST=http://auth
AUTH_PORT=8002

# ─────────────────── Frontend ───────────────────
FRONTEND_PORT=8000
FRONTEND_ADDR=0.0.0.0

# ─────────────────── Tooling endpoints (для фронтенда/UI) ───────────────────
ADMINER_ENDPOINT=http://adminer:8080
REDIS_INSIGHT_ENDPOINT=http://redisinsight:5540
PORTAINER_ENDPOINT=http://portainer:9000

# ─────────────────── Yandex Cloud S3 ───────────────────
S3_ENDPOINT=https://storage.yandexcloud.net
S3_REGION=ru-central1
S3_ACCESS_KEY=
S3_SECRET_KEY=

IMAGES_BUCKET=
IMAGES_BUCKET_LINK=

ANIME_BUCKET=
ANIME_BUCKET_LINK=

# ─────────────────── Recommendation service ───────────────────
RECOMMENDS_PORT=8003
LANCE_DB_PATH=src/recommendation_service/lancedb
LANCE_TABLE_NAME=anime_embeddings
EMBEDDING_MODEL=all-MiniLM-L6-v2

# ─────────────────── Anime service ───────────────────
API_PORT=8001
API_HOST=0.0.0.0
