:80 {
    rate_limit {
        zone per_second {
            key {remote_host}
            events 10
            window 1s
        }
        zone per_minute {
            key {remote_host}
            events 60
            window 1m
        }
    }

    reverse_proxy frontend:8000

    header {
        Content-Security-Policy "upgrade-insecure-requests"
    }
}
